.CreateToDoButton {
    transition: .5s;
    background-color: #4e18e2ec;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 1;
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .CreateToDoButton:hover {
    transform: rotate(224deg);
    box-shadow: 0 0 5px #4e18e2,
                0 0 15px #4e18e2,
                0 0 30px #4e18e2,
                0 0 60px #4e18e2;
  }